<div>
    <div class="col-12" data-bind="Product.list[0]" data-name="product">
        <div class="col-12">
            <h4>Fiche produit : <span data-bind="product.title"></span></h4>
        </div>
        <div class="col-12 d-flex">
            <div data-bind="product.price.toFixed(2)"></div>€
            <div class="ml-2" data-bind="product.onsaleBadge"></div>
            <div class="ml-2" data-bind="product.category.title">Aucune</div>
        </div>
        <div class="col-12" data-bind="product.description"></div>
    </div>   
</div>